<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2985457361-omktbal6r3ipelqqk5rd97c2f31upt1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2985457361-omktbal6r3ipelqqk5rd97c2f31upt1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBl2_lFzVbhn_d8hOAAcoFSSsqgXXAZ0EY</string>
	<key>GCM_SENDER_ID</key>
	<string>2985457361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lukcytravel</string>
	<key>PROJECT_ID</key>
	<string>blogs-5eb57</string>
	<key>STORAGE_BUCKET</key>
	<string>blogs-5eb57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2985457361:ios:1032a8734aafb6925437f0</string>
</dict>
</plist>